{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_head %}
     {% comment %} <meta name="google-signin-client_id" content="538770675060-sn1l7r5t3c80h7d6asibfgmr4momkof4.apps.googleusercontent.com"> {% endcomment %}
{% endblock %}

{% block content %}

    <h3 class="text-3xl my-8">Sign in</h3>

    {% get_providers as socialaccount_providers %}

    <form class="login djaaform" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form | crispy }}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

    <br>&nbsp;<br>
    <button class="btn btn-primary btn-lg" type="submit">{% trans "Sign in" %}</button>
    </form>

    <p class="my-8">No account? <a href="{{ signup_url }}">Create one</a></p>


{% endblock %}

{% block extra_js %}
{#      <script>#}
{#    function onSuccess(googleUser) {#}
{#      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());#}
{#    }#}
{#    function onFailure(error) {#}
{#      console.log(error);#}
{#    }#}
{#    function renderButton() {#}
{#      gapi.signin2.render('GoogleSignin', {#}
{#        'scope': 'profile email',#}
{#        'width': 240,#}
{#        'height': 48,#}
{#        'longtitle': true,#}
{#        'theme': 'dark',#}
{#        'onsuccess': onSuccess,#}
{#        'onfailure': onFailure#}
{#      });#}
{#    }#}
{#  </script>#}
{##}
{#  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>#}

{% endblock %}