body{
    /*background-color: #F8FAFF;*/
    background-color: white;
}

.ArevelRoot {
    background: white;
    min-height: 80vh;

    padding: 0 2rem 3rem 2rem;
}

.navbar {
    background-color: white;
}

.medium-editor-element:focus {
    outline: none;
}

.ToolbarMenu {
    border-bottom: 1px solid #efefef;
    background-color: #fafbfc;
    margin-bottom: 3rem;
}

.ToolbarMenu-item {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-radius: 0;
}

.Expr {
    background-color: #F8F8F8;

    border: 1px solid rgba(0,0,0,0.1);

    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.06);
    margin-bottom: 1rem !important;

    padding: .75rem 1.25rem;
    border-radius: .25rem;
    position: relative;
}

label {
    font-weight: bold;
}

.row.no-padding {
    padding: 0;
}

.row.no-padding .no-padding {
    padding-left: 0;
    padding-right: 0;
}

.square {
    border-radius: 0;
}

.ExprValue-input {
    max-width: 90%;
    max-width: calc(100% - 42px);
    display: inline-block;
}

.ExprSetting {
    display: inline;
}
.ExprSetting i {
    vertical-align: text-top;
}

.Expr-inline {
    display: inline-block;
    width: 150px;
}

.Expr-inline input {
    border: 0;
    border-bottom: 2px solid #ccc;
    height: initial;
    padding: 0 0.35rem;
}

.btn-rect {
    padding: .5em 2.5em;
}

.Doc-icon {
    font-size: 2rem;
    color: #5286EC;
    display: block;
    margin-top: 13px;
    text-align: center;
}

.Doc-title {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    color: #0b0b0b;
}

.grey.fg {
    color: #777;
}

.black.fg {
    color: #0b0b0b;
}

.Doc-nameInput {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.Doc-nameInput:focus {
    background: transparent;
    box-shadow: none;
    outline: none;
}