.Grid {
  /* display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
	flex-direction: column;
  height: 500px; */

  /* 
  Standard spreadsheet cells are 200x40 
  Font size: 10pt; = 13px for Arial.
  12pt is more readable at 16px;
  Arial is the standard font used there. 
  Let's stick with it here for now unless needed.
  WxH - 2.4142 silver ratio

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  160x60 previous
  163x72
  */

  /* display: block; */
  display: block;
  font-size: 13px;
  font-family: Arial;  
  grid-template-columns: repeat(auto-fill, 133px);
  grid-gap: 1px;
  grid-auto-rows: 55px;
  grid-auto-flow: row;
  padding: 1rem;
  justify-content: center;

}

.Cell {
  /* width: 180px;
  height: 100px; */
  padding: 0.5rem 1rem;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;

  /* outline: 1px solid #a0aec0; */
  /* outline: 1px dotted rgba(160, 174, 192, 0.55); */

  margin: 0.75rem 0;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  
}

.Cell-cellName {
  font-weight: bold;
  display: inline-block;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  /* color: #718096;   /* Grey-600 */

  color: #24292e;   /* Standard text editor identifier name */
}

.Cell-cellResult {
  background-color: white;
}

.Cell.Cell--focused {
  padding: 0;
  /* background-color: #EBF8FF;  Blue 100 */
  outline: none;
  border-color: #4299E1;
}

.Cell-edit .Cell-cellName {
  /* border-bottom: 1px solid #BEE3F8; */
  border-bottom: 1px solid rgb(206, 212, 217);
  width: 100%;
}

.Cell-edit .Cell-inputs {
  padding: 0.5rem 1rem;
}

.Cell-edit .Cell-outputs {
  padding: 0.5rem 0rem;
  /* background-color: #E2E8F0; */
  /* background-color: #EBF8FF; */
  background-color: rgb(250, 250, 250);
}

.Cell.Cell--error {
  @apply border-2 border-red-500;
  white-space: normal;
}
.Cell-cellError {
  @apply text-red-500;
}

.Cell-cellValue {
  white-space: pre-line;
  display: inline-block;
  background-color: transparent;
}

.Cell-cellValue--edit {
  /* padding: 5px 7px; */
  padding: 0.5rem 1rem;
  width: 100%;
}

.Cell-cellValue--edit:focus, .Cell-cellName--edit:focus {
  outline-width: 2px;
}

.Cell-cellName--edit {
  /* padding: 3px 7px; */
  padding: 0.5rem 1rem;
  padding-right: 0.25rem;
}

.Cell--focused .Cell-cellResult {
  padding: 0.5rem;
  padding-left: 166px;
}

.Cell-cellResult {
  white-space: normal;
  overflow: scroll;
  text-overflow: ellipsis;
  width: 100%;
}


.maximize {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  cursor: nesw-resize;
}

.ActionBar {
  @apply border bg-gray-300;
  
}

.ActionBar-action {
  @apply border-l border-r px-3 py-2 inline-block;
}


/* Tailwind utility syntax - sm, md, lg, xl */
/* @screen sm { } */



.aa-root {
  display: flex;
}

#aa-sidebar {
  position: static;
  min-width: 180px;
  max-width: 256px;
  width: 100%;

  min-height: 100vh;
  height: 100vh;
  display: block;
}

#aa-body {
  width: 100%;
  position: static;
}

#aa-sidebar label {
  font-weight: bold;
}

.edit-label {
  font-size: 0.75rem;
  padding-left: 0.75rem;
}


#aa-sidebar-wrapper {
  display: flex;
  align-items: stretch;
}

#aa-sidebar {
  min-width: 180px;
  max-width: 256px;
  min-height: 100vh;
  height: 100vh;

  border-right: 1px solid #e8e8e8;

  font-size: 14px;

}

#aa-sidebar.active {
  margin-left: -250px;
}

.aa-sidebar-section {
  font-size: 14px;
  padding: 0 24px;
}

.aa-sidebar-section h3 {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
  
  line-height: 30px;
  font-weight: bold;
}

.sidebar-list li {
  padding-left: 14px;
}

.aa-sidebar-section button {
  margin-top: 14px;
}


/* Hide sidebar by default on small screens */
@media (max-width: 768px) {
  #aa-sidebar {
      margin-left: -250px;
  }
  #aa-sidebar.active {
      margin-left: 0;
  }
}
