/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

html, body {
    color: #212529;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}


.btn {
  @apply font-bold py-2 px-4 rounded;
  
  cursor: pointer;
}

.btn-primary {
  @apply bg-blue-500 text-white;
}


.form-control {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.form-control:focus {
  @apply outline-none shadow-outline;
}

.Grid {
  /* display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
	flex-direction: column;
  height: 500px; */

  /* 
  Standard spreadsheet cells are 200x40 
  Font size: 10pt; = 14px. 
  12pt is more readable at 16px;
  Arial is the standard font used there. 
  Let's stick with it here for now unless needed.
  WxH - 2.4142 silver ratio
  */

  font-size: 15px;
  font-family: Arial;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 6px;
  grid-auto-rows: minmax(60px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.Cell {
  @apply border rounded border-gray-500 px-20 py-8;
  /* width: 180px;
  height: 100px; */
  padding: 0.5rem;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Cell-cellName {
  font-weight: bold;
}

.Cell.Cell--focused {
  @apply border-blue-500 border-2 py-0 px-0;
  margin: -6px; 
}

.Cell-cellValue--edit {
  padding: 5px 7px;
}

.Cell-cellValue--edit:focus, .Cell-cellName--edit:focus {
  outline-width: 2px;
}

.Cell-cellName--edit {
  padding: 3px 7px;
}

.Cell--focused .Cell-cellResult {
  padding: 0 7px;
}

.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}

.ActionBar {
  @apply border;
}

.ActionBar-action {
  @apply border-l border-r px-3 py-2 inline-block;
}

@import "./base.css";



/* Tailwind utility syntax - Small (sm) */
@screen sm { /* ... */ }

/* Medium (md) */
@screen md { /* ... */ }

/* Large (lg) */
@screen lg { /* ... */ }

/* Extra Large (xl) */
@screen xl { /* ... */ }
