// Let's start with some set of primitives without trying to go to an extreme minimalism.
// Comments - //
// "" - String
// name: a b c - Pattern declaration. Where each symbol references a previously defined name OR is that raw symbol. a + b. Or we use '+ for raw symbols?
// This has ambiguity with defining a variable vs defining a reference to some previous thing. In the single line context, it's always a reference.

Choice: a | b


SingleQuoteString:
    "'"
    characters: String
    "'"

DoubleQuoteString:
    '"'
    characters: String
    '"'

RawString: SingleQuoteString | DoubleQuoteString

DeclarationTerm:
    label: String
    ":"
    type: Type

Choice:
    a: String
    "|"
    b: Type

Type: Choice | String

DeclarationBlock:
    label: String
    ":/n/t"
    terms: TermList | Term

TermList:
    term: Term
    "\n\t"
    rest: TermList | Term

Term: DeclarationTerm | RawString



Declaration: DeclarationTerm | DeclarationBlock

DeclarationList:
    declaration: Declaration
    "\n"
    rest: DeclarationList | Declaration

Root: DeclarationList | Declaration

