<nav class="navbar navbar-toggleable-md navbar-inverted bg-faded">
    <a class="navbar-brand" href="/" title="Arevel">
        <img alt="Arevel" src="/static/img/arevel_logo.png" height="24px" id="LogoImg"/>
    </a>

    <ul class="navbar-nav pull-right">

    {% if user.is_authenticated %}
	    <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
        </li>
	{% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
         <li class="nav-item"><a class="btn btn-primary" href="{% url 'account_signup' %}">Sign Up</a></li>
    {% endif %}

    </ul>

</nav>