<nav class="navbar navbar-toggleable-md navbar-inverted bg-faded">
    <a class="navbar-brand" href="#" title="Arevel">
        <img alt="Arevel" src="/static/img/arevel_logo.png" height="24px"/>
    </a>

	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
	{% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    {% endif %}

</nav>