<!DOCTYPE html>
<html>
<head>
    <meta lang="en_US">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='http://localhost:8000/static/img/favicon.ico' />

    <title>Arevel: A new visual programming language</title>
    <meta name="description" content="Arevel is a visual programming language in the browser for faster, simpler software development.
    Create dynamic, flexible programs in a spreadsheet like UI.">

    <meta name="twitter:card" content="Arevel is a new programming language with a spreadsheet-like interface.">
    <meta name="twitter:site" content="@Arevelapp">
    <meta name="twitter:title" content="Arevel is a new programming language with a spreadsheet-like interface">
    <meta name="twitter:description" content="Arevel is a visual programming language in the browser for faster, simpler software development.
    Create dynamic, flexible programs in a spreadsheet like UI.">

    <meta property="og:title" content=" Arevel is a new programming language with a spreadsheet-like interface" />
    <meta property="og:url" content="https://www.arevel.com" />
    <!-- <meta property="og:image" content="https://www.arevel.com/static/img/arevel_logo.png" /> -->   <!-- TODO -->
    <meta property="og:description" content="Arevel is a visual programming language in the browser for faster, simpler software development.
    Create dynamic, flexible programs in a spreadsheet like UI." />
    <meta property="og:site_name" content="Arevel" />



        <link rel="stylesheet" href="http://localhost:8000/static/css/arevel_bs4.css">
    
    
        <link rel="stylesheet" href="http://localhost:8000/static/css/main.css">
    
        <link rel="stylesheet" href="http://localhost:8000/static/css/landing.css">
    
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


    
    </head>
<body>


<nav class="navbar navbar-toggleable-md navbar-inverted bg-faded">
    <a class="navbar-brand" href="/" title="Arevel">
        <img alt="Arevel" src="http://localhost:8000/static/img/arevel_beta_logo.png" height="32px" id="LogoImg"/>
    </a>

    <ul class="navbar-nav pull-right">

        <li class="nav-item"><a class="nav-link" href="/account/login">Sign In</a></li>
         <li class="nav-item"><a class="btn btn-outline-primary" href="/account/signup">Get Started</a></li>

    </ul>

</nav>
    
    
    <div class="LandingHeader cover">
        <div class="container">
            <div class="LandingHeader--content">
            <h1 class="landingTitle">Create<br> Extraordinary Apps</h1>

            <p class="landingSubTitle">
                Arevel is a minimal, visual framework to rapidly build flexible apps and tools. 
            </p>
            
            <!-- TODO: Screenshot of the beautiful, visual goddi-ness of language -->
            <a class="btn btn-primary btn-lg LandingBtn--cta" href="/demo">Get Started</a>
            <!-- Please try it out... -->
                </div>
        </div>
    </div>


<footer>

    <a href="mailto:hello@arevel.com">hello@arevel.com</a>
    <br>

    © 2018 Arevel.com

     &#x00B7;
     &nbsp;
    <a href="/terms">Terms</a>&nbsp; &#x00B7; &nbsp;<a href="/privacy">Privacy</a>
</footer>
</body>
</html>
