{% extends "base.html" %}

{% block content %}
    <div id="app" ref="app">

    <div>
            <button class="btn btn-primary" @click="addValue">Add Value</button>
            <button class="btn btn-primary" @click="addList" >Add List</button>
            <button class="btn btn-primary" @click="addFunction">Add Function</button>
        </div>

        <div class="BodyWrapper HeaderOffset">
            <div class="DataContainer DashForm">
                <Cell-View v-bind:cell="engine.root"></Cell-View>
            </div>

        </div> <!-- Body wrapper-->

    </div>
{% endblock %}


{% block extra_body %}
    <!--
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->

    <!-- Note: Development version -->

    <script src="https://cdn.ravenjs.com/3.22.4/vue/raven.min.js" crossorigin="anonymous"></script>
    <script>Raven.config('https://cfe92cbbed2f428b99b73ccb9419dab0@sentry.io/296381').install();</script>

    <script src="/static/js/arevel_stable.js"></script>

{% endblock %}