{% extends "base.html" %}
{% load static %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}


{% block content %}
    <div class="LandingHeader cover">
        <div class="container">
            <div class="LandingHeader--content">
            <h1 class="landingTitle">Create<br> Extraordinary Apps</h1>

            <p class="landingSubTitle">
                Arevel is a minimal, visual framework to rapidly build flexible apps and tools.
            </p>

            <!-- TODO: Screenshot of the beautiful, visual goddi-ness of language -->
            <a class="btn btn-primary btn-lg LandingBtn--cta" href="/demo">Get Started</a>
            <!-- Please try it out... -->
                </div>
        </div>
    </div>

{#    #}
{#    <div class="LandingSection--wrapper ">#}
{##}
{#    <div class="LandingSection">#}
{#        <!-- Last chance in case you didn't see the big button above -->#}
{#        <a class="btn btn-primary btn-lg LandingBtn--cta centered" href="/demo">Try it out</a>#}
{#    </div>#}
{#    </div>#}

{% endblock %}
