{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link href="{% static 'css/app.css' %}?v=1" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="aa-root">

    <section id="aa-sidebar-wrapper">
      
      <!-- <label>Views</label>
      <div id="aa-sidebar-views"></div>

      <label>Data</label>
      <ul class="px-3">
        <li>Users</li>
        <li>Posts</li>
      </ul>
     -->
    </section>
        
    <section id="aa-body"">
        <div id="root"></div>
    </section>

</div>
{% endblock %}

{% block extra_js %}
<script>
    window._aa_appid = "{{ object.app.slug|escapejs }}";
    window._csrf_token = "{{ csrf_token }}";
    window._aa_viewid = "{{ object.uuid }}";

</script>
<script type="text/javascript" src="{% static 'js/app.js' %}?v=1"></script>
{% endblock %}




