<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Arevel is a visual language and serverless platform to build, launch and scale dynamic web applications.">

    <title>Arevel - Visual Web Application Language & Serverless Platform</title>
    
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
      
    <link href="static/css/landing_base.css" rel="stylesheet">
      
  </head>
  <body class="font-sans leading-tight">


    <header>
      <nav role="navigation" class="flex bg-white border-b border-gray-200 items-center flex-wrap p-4 justify-between">


      <div class="w-full max-w-screen-xl relative mx-auto px-6">
        <div class="logo lg:w-1/4 xl:w-1/5 pl-6 pr-6 lg:pr-8">
          <img class="block h-12" src="static/images/arevel_beta_logo.png" alt="Arevel logo"/>
        </div>
      </div>

      </nav>
    </header>
      
      
    <section class="bg-light pattern-primary">
        <div class="max-w-6xl relative mx-auto px-16 pt-32 pb-32 md:pb-24">
            <div class="inline-block pb-16">
                <h1 class="fg-primary text-5xl inline-block max-w-lg font-sans font-bold pb-6">Build. Launch. <br>Scale.</h1> <br>
                <h2 class="fg-primary text-xl max-w-md inline-block">
                    Arevel is a visual language and serverless platform to build, launch and scale dynamic web applications. 
                </h2>
            </div>
        
            <!-- <img class="shadow-lg xl:mx-12 vertical-top max-width-sm inline-block" width="450px" src="static/images/screenshot.png"/> -->

            <div class="landingExample">
            <div class="Grid">
              
              <div class="Cell">
                <span>
                  <div class="Cell-cellName">
                    path
                  </div>
                  <div class="Cell-cellValue">
                    /echo
                  </div>
                </span>
              </div>
              

              <div class="Cell">
                <span>
                  <div class="Cell-cellName">
                    method
                  </div>
                  <div class="Cell-cellValue">
                    GET
                  </div>
                </span>
              </div>

              <div class="Cell">
                <span>
                  <div class="Cell-cellName">
                    echo_message
                  </div>
                  <div class="Cell-cellValue">
                    Hello Arevel
                  </div>
                </span>
              </div>

            </div>
          </div>

        </div>
    </section>
           
    <section class="max-w-6xl relative mx-auto px-16 pt-32 pb-32 md:pb-24">
      <h2 class="fg-primary text-4xl font-sans font-bold">Powered by WebAssembly</h2>
      <p class="text-lg">
          WebAssembly is a new binary format for code that enables high performance applications in browsers and on servers. 
          Arevel code compiles to WebAssembly on the server for fast response times and secure, sandboxed code execution. 
          In the future, you will also be able to interop with other languages that compile down to WebAssembly. 
      </p>
    </section>
    
    <div class="bg-gray-100">
        <section class="max-w-6xl relative mx-auto px-16 pt-32 pb-32 bg-gray-100">
            <h2 class="fg-primary text-4xl font-sans font-bold">
              Interactive, Real-time Development
            </h2>
            <p class="text-lg">
              Arevel combines the power & flexibility of a modern programming language with the simplicity of a spreadsheet.
              
              Explore and change your application backend with an editor that connects you seamlessly to your code, data and infrastructure.
            </p>
        </section>
    </div>
      
            
    <div class="bg-gray-100">
      <section class="max-w-6xl relative mx-auto px-16 pt-32 pb-32 bg-gray-100">
          <h2 class="fg-primary text-4xl font-sans font-bold">
            Serverless Scaling
          </h2>
          <p class="text-lg">
          Deploy changes instantly and scale up to meet the demands of your app without needing to manage any server infrastructure. 
          Arevel's compiled format allows automatic horizontal scaling with low overhead. 

          </p>
      </section>
    </div>


  </body>
</html>
