<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="AppAssembly is a new visual programming language and serverless platform to create and run dynamic web applications.">

    <title>AppAssembly - Serverless WebAssembly platform for Web Applications.</title>
    
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
      
    <link href="static/css/landing_base.css" rel="stylesheet">
      
  </head>
  <body class="font-sans leading-tight">


    <header>
      <nav role="navigation" class="flex bg-white border-b border-gray-200 items-center flex-wrap p-4 justify-between">

        <div class="w-full max-w-screen-xl relative mx-auto px-6">
          <div class="logo lg:w-1/4 xl:w-1/5 pl-6 pr-6 lg:pr-8">
            <img class="block h-12" src="static/images/arevel_beta_logo.png" alt="AppAssembly logo"/>
          </div>
        </div>

      </nav>
    </header>
      
    <section class="bg-light pattern-primary">
        <div class="max-w-6xl relative mx-auto px-16 pt-32 pb-32 md:pb-24">
            <div class="inline-block pb-16">
                <h1 class="fg-primary text-5xl inline-block max-w-lg font-sans font-bold pb-6">Build. Launch. <br>Grow.</h1> <br>
                <h2 class="fg-primary text-xl max-w-md inline-block">
                  AppAssembly is a productive cloud platform to help you create and run dynamic web applications. 
                </h2>

                <br><br><br>
                <a href="https://forms.gle/BMuovMfLD6JF5MfcA">
                  <button class="bg-orange-500 hover:bg-orange-700 text-lg text-white font-bold py-4 px-8 rounded">
                    Beta Sign-up
                  </button>
                </a>
                
            </div>
        
            <!-- <img class="shadow-lg xl:mx-12 vertical-top max-width-sm inline-block" width="450px" src="static/images/screenshot.png"/> -->

            <!-- <div class="landingExample">
            <div class="Grid">
              
              <div class="Cell">
                <span>
                  <div class="Cell-cellName">
                    path
                  </div>
                  <div class="Cell-cellValue">
                    /echo
                  </div>
                </span>
              </div>
              
              <div class="Cell">
                <span>
                  <div class="Cell-cellName">
                    method
                  </div>
                  <div class="Cell-cellValue">
                    GET
                  </div>
                </span>
              </div>

              <div class="Cell">
                <span>
                  <div class="Cell-cellName">
                    echo_message
                  </div>
                  <div class="Cell-cellValue">
                    Hello Arevel
                  </div>
                </span>
              </div>

            </div>
          </div> -->
        </div>
    </section>
           
    
    <div class="bg-gray-100">
        <section class="max-w-6xl relative mx-auto px-16 pt-32 pb-32 bg-gray-100">
            <h2 class="fg-primary text-4xl font-sans font-bold">
              Interactive, Real-time Development
            </h2>
            <p class="text-lg">
              AppAssembly connects you directly with your code and gives you immediate feedback, 
              so you can experiment and develop at the speed of thought. 
              It's a dynamic, general-purpose programming language with functional and declarative paradigms. 
            </p>
        </section>
    </div>


    <section class="max-w-6xl relative mx-auto px-16 pt-32 pb-32 md:pb-24">
      <h2 class="fg-primary text-4xl font-sans font-bold">WebAssembly Backend</h2>
      <p class="text-lg">
          WebAssembly is a binary instruction format for code that enables high performance applications in browsers and on servers. 
          AppAssembly provides a responsive, interpreted development environment in the browser and then compiles the code down to an 
          efficient WebAssembly format for serving backend requests.
          WebAssembly on the server enables fast startup, quick response times and sandboxed code execution with request-level isolation. 
      </p>
    </section>

                
    <div class="bg-gray-100">
      <section class="max-w-6xl relative mx-auto px-16 pt-32 pb-32 bg-gray-100">
          <h2 class="fg-primary text-4xl font-sans font-bold">
            Serverless Runtime
          </h2>
          <p class="text-lg">
            Deploy and run your application online without needing to manage any server infrastructure. 
            AppAssembly's runtime creates transient, stateless instances to handle individual requests. 
            These lightweight instances can spin-up on demand, scale out horizontally across a cluster of servers and return to zero when idle. 
            The runtime handles routing, database connection pooling and resource management without 
            the cold-start overhead of container startup or connection establishment.
          </p>
      </section>
    </div>


  </body>
</html>
