{% load static %}

{% comment %}
<nav class="navbar navbar-toggleable-md navbar-inverted bg-faded">
    <a class="navbar-brand" href="/" title="Arevel">
        <img alt="Arevel" src="{% static "img/arevel_beta_logo.png" %}" height="32px" id="LogoImg"/>

    </a>

    <ul class="navbar-nav pull-right">

        {# TODO #}
    {% if user.is_authenticated %}
	    <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
        </li>
	{% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
         <li class="nav-item"><a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Get Started</a></li>
    {% endif %}

    </ul>

</nav>
{% endcomment %}

<nav role="navigation" class="flex bg-white border-b border-gray-200 items-center flex-wrap p-4 justify-between">

    <div class="w-full max-w-screen-xl relative mx-auto px-6">
    <a class="inline-block logo lg:w-1/4 xl:w-1/5 pl-6 pr-6 lg:pr-8" href="/" title="AppAssembly">
        <!-- <img class="block h-12" src="static/images/arevel_beta_logo.png" alt="AppAssembly logo"/> -->
        <img class="block" width="130px" height="18.4167px" src="{% static 'images/appassembly_logo1.png' %}" alt="appassembly logo"/>
    </a>
    </div>

</nav>
