<nav class="flex border-b border-gray-200 item-center flex-wrap p-4 justify-between"></nav>
<section id="aa-sidebar-wrapper">
<nav id="aa-sidebar"></nav>
</section>
<input class="btn btn-secondary col-md-3" type="submit" value="Save">

<div class="Cell-edit container-fluid">
    <div class="row">
        <input class="col-sm-12 Cell-cellName block Cell-cellName--edit">
    </div>
    <div class="row">
        <div class="Cell-inputs col-sm-1">
            <div class="btn btn-placeholder">Add input</div>
        </div>
        <div class="Cell-outputs col-sm-10">
            <input class="Cell-cellValue bg-blue-100 block Cell-cellValue--edit" placeholder="edit">
        </div>
    </div>
</div>