{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="AppAssembly is a new visual programming language and serverless platform to create and run dynamic web applications.">

    <title>AppAssembly - Build Serverless Web Applications with WebAssembly.</title>
    
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
      

    <link href='{% static "css/base.css" %}?v=7' rel="stylesheet">
    <link href='{% static "css/landing.css" %}?v=7' rel="stylesheet">

  </head>
  <body class="font-sans leading-tight">

    <header class="col-12 bg-white md:px-4 py-4">
      <nav role="navigation" class="contentWrapper">

        <!-- <div class="w-full max-w-screen-xl relative mx-auto px-6"> -->
        <div class="logo-wrapper">
          <img class="block" style="min-width:160px" width="160px" src="{% static 'images/appassembly_logo1.png' %}" alt="appassembly logo"/>
        </div>

      </nav>
    </header>
     
    <!-- contentWrapper headerSplash relative pt-32 pb-32 md:pb-24 pb-16 -->

    <section class="container md:my-48 my-24">
      <div class="row">
        <div class="col-md-6 splash-text">
          <h1 class="fg-primary text-5xl inline-block max-w-lg font-sans font-bold pb-6">Build. Launch. <br>Grow.</h1> <br>
          <h2 class="fg-base text-xl max-w-md inline-block">
            AppAssembly is a low-code, rapid development platform to help you create and run dynamic web applications. 
          </h2>

          <br><br><br>
          <a href="/accounts/signup/">
            <button class="btn-cta">
              Get started
            </button>
          </a>
        </div>
          
        <!-- shadow-lg my-8 border border-gray-500 rounded-lg -->

        <div class="col-md-6 md:my-8 md:flex-shrink-0">
          <img src="{% static 'images/editor_mbp.png' %}" class="float-right"/>
        </div>

      </div>
    </section>


  <div class="container-fluid">  
    
    <div class="bg-gray-100">
        <section class="contentWrapper relative pt-32 pb-32 bg-gray-100">
            <h2 class="fg-primary text-4xl font-sans font-bold">
              Interactive, Real-time Development
            </h2>
            <p class="text-lg">
              AppAssembly connects you directly with your code and gives you immediate feedback, 
              so you can experiment and develop at the speed of thought. 
              It's a dynamic, general-purpose programming language with functional and declarative paradigms. 
            </p>
        </section>
    </div>


    <section class="contentWrapper relative pt-32 pb-32 md:pb-24">
      <h2 class="fg-primary text-4xl font-sans font-bold">Powered by WebAssembly</h2>
      <p class="text-lg">
          WebAssembly is a binary instruction format for code that enables high performance applications in browsers and on servers. 
          AppAssembly provides a responsive, interpreted development environment in the browser and then compiles the code down to an 
          efficient WebAssembly format for serving backend requests.
          WebAssembly on the server enables fast startup, quick response times and sandboxed code execution with request-level isolation. 
      </p>
    </section>

                
    <div class="bg-gray-100">
      <section class="contentWrapper relative pt-32 pb-32 bg-gray-100">
          <h2 class="fg-primary text-4xl font-sans font-bold">
            Serverless Runtime
          </h2>
          <p class="text-lg">
            Deploy and run your application online without needing to manage any server infrastructure. 
            AppAssembly's runtime creates transient, stateless instances to handle individual requests. 
            These lightweight instances can spin-up on demand, scale out horizontally across a cluster of servers and return to zero when idle. 
            The runtime handles routing, database connection pooling and resource management without 
            the cold-start overhead of container startup or connection establishment.
          </p>
      </section>
    </div>


    <footer class="row landing-footer bg-black fg-inverse">

      <div class="contentWrapper py-16">
        &copy; 2020 AppAssembly
      </div>

    </footer>


  </div>


  </body>
</html>
